ENABLE_BITCODE = NO

// Since ReactiveKit doesn't have a minimum_deployment_target, it tries to build it using the Xcode's default which might be too high for the build to succeed. (only for watchOS)
WATCHOS_DEPLOYMENT_TARGET = 7.0
// Explicitly adding the deployment target Xcode 12 build settings
// https://www.jessesquires.com/blog/2020/07/20/xcode-12-drops-support-for-ios-8-fix-for-cocoapods/
IPHONEOS_DEPLOYMENT_TARGET = 11.0
